<h5>Users Create Projects/Events</h5>
<h5> projects have Bidable items </h5>
<h5>Users Create Projects/Events</h5>
<h5> Items have bids from users </h5>
<h5>Users Create Projects/Events</h5>
<h5> bids created by users </h5>
<h5> bids are rewarded</h5>
<h5> Money transfer</h5>
<h5> Chat</h5>
<h5> Message</h5>
<h5> User profile </h5>
<h5> Users friends and relationships</h5>
<h5> Insuarance and other vendor info on file </h5>
<h5> Notifications</h5>
<h5> landing page for ideas</h5>
<h5> CSS and javascript </h5>
<h5> markets </h5>
<h5> Online market place for regular items </h5>
<h5> Innevtory management </h5>
<h5> Mapping and Geo </h5>
<h5> Vr Feel</h5>
<h5> idea is to digitalize the economy  </h5>
<h5> file transfers</h5>
<h5> Permitting workflows </h5>
<h5> users within user accounts </h5>