<h1> New event screen </h1>
<h1>Enter Your Event </h1>
<%= simple_form_for @event do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.submit 'Create', class: 'btn btn-danger' %>
<% end %>